[submodule "extlibs/zlib"]
	path = extlibs/zlib
	url = https://github.com/Cyberunner23/zlib.git
[submodule "extlibs/lz4"]
	path = extlibs/lz4
	url = https://github.com/Cyberunner23/lz4.git
[submodule "extlibs/libsodium-CMake"]
	path = extlibs/libsodium-CMake
	url = https://github.com/Cyberunner23/libsodium-CMake
